<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">اخرین اخبار</h3>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="ایمیلتان را وارد کنید">
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">دسته بندی</h3>
                    <ul class="no-bullet">
                        <li><a href="#">کودکان</a></li>
                        <li><a href="#">بزرگسالان</a></li>
                        <li><a href="#">درسی</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">دسترسی</h3>
                    <ul class="no-bullet">
                        <li><a href="#">ورود</a></li>
                        <li><a href="#">ثبت نام</a></li>
                        <li><a href="#">خرید اشتراک</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">به ما بیوندید</h3>
                    <ul class="no-bullet">
                        <li><a href="#">بیش از 250 فیلم جدید هفته ای</a></li>
                        <li><a href="#">ماهانه 5 روز رایگان</a></li>
                        <li><a href="#">هفته ای دو قرعه کشی</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">شبکه های اجتماعی</h3>
                    <ul class="no-bullet">
                        <li><a href="#">فیس بوک</a></li>
                        <li><a href="#">توئیتر</a></li>
                        <li><a href="#">گوگل+</a></li>
                        <li><a href="#">تلگرام</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">درباره ما</h3>
                    <p>شیلیمو یک بستر دانلود فیلم که بر اساس متد پرداختی شما به شما دسترسی های ویژه به بخش های ویژه می دهد</p>
                </div>
            </div>
            
        </div> 

        <div class="colophon" style="text-align: center;">کپی رایت @khjmeister</div>
    </div> 

</footer>