<div class="container">
  <div class="page">
    <div class="row">
      <div class="col-md-9">
        <div class="mycon">
            <app-slidshow [slides]="slides"></app-slidshow>
        </div>
        
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="latest-movie">
              <a href="#"><img src="assets/img/1.jpg" alt="Movie 1"></a>
            </div>
          </div>
          <div class="col-sm-6 col-md-12">
            <div class="latest-movie">
              <a href="#"><img src="assets/img/2.jpg" alt="Movie 2"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="latest-movie">
          <a href="#"><img src="assets/img/3.jpg" alt="Movie 3"></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="latest-movie">
          <a href="#"><img src="assets/img/4.jpg" alt="Movie 4"></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="latest-movie">
          <a href="#"><img src="assets/img/5.jpg" alt="Movie 5"></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="latest-movie">
          <a href="#"><img src="assets/img/6.jpg" alt="Movie 6"></a>
        </div>
      </div>
    </div> 

    <div class="row">
      <div class="col-md-4">
        <h2 class="section-title"> دسته بندی بزرگسالان</h2>
        <p>این دسته بندی مخصوص بزرگسالان است</p>
        <ul class="movie-schedule">
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">جنایی</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">درام</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">بی محتوا</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">اکشن</a></h2>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="section-title">دسته بندی مخصوص کودکان</h2>
        <p>مخصوص کودکان</p>
        <ul class="movie-schedule">
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">انیمه</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">انیمیشن</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">فیلم کودک</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">کالکشن</a></h2>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="section-title">مخصوص مدرسه</h2>
        <p>مخصوص درس ها</p>
        <ul class="movie-schedule">
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">سال دوم</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">سال سوم</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">دوازدهم</a></h2>
          </li>
          <li>
            <div class="date">16/12</div>
            <h2 class="entry-title"><a href="#">پنجم</a></h2>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</div>