
<div class="register_container">
  <div class="page">
    <div class="breadcrumbs">
      <a routerLink="">صفحه اصلی</a>
      <span>ثبت نام</span>
    </div>

    <div class="content">
      <div class="row">
        <div class="col-md-12">
          
          
          <div class="contact-form">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
        
              <div>
                
                
                <label><b>نام کاربری</b></label>
                <input type="text" 
                placeholder="نام کاربری را وارد کنید" 
                formControlName="fullname" 
                [ngClass]="{ 'red':  f['fullname'].errors && f['fullname'].touched }"
                >
                <div *ngIf="f['fullname'].touched && f['fullname'].invalid" class="red">
                  <div *ngIf="f['fullname'].errors?.['required']"> لطفا یک نام کاربری انتخاب کنید </div>
                </div>
                <label><b>ایمیل  </b></label>
                <input type="email" 
                placeholder="ایمیلتان را وارد کنید" 
                formControlName="email" 
                [ngClass]="{ 'red':  f['email'].errors && f['email'].touched }"
                >
                <div *ngIf="f['email'].touched && f['email'].invalid" class="red">
                  <div *ngIf="f['email'].errors?.['required']"> لطفا یک  ایمیل انتخاب کنید </div>
                  <div *ngIf="f['email'].errors?.['email']">     یک ایمیل معتبر انتخاب کنید  </div>
                </div>
          
                <label><b>شماره تلفن </b></label>
                <input type="text" 
                placeholder="شماره تلفن را وارد کنید" 
                formControlName="phone" 
                [ngClass]="{ 'red':  f['phone'].errors && f['phone'].touched }"
                >
                <div *ngIf="f['phone'].touched && f['phone'].invalid" class="red">
                  <div *ngIf="f['phone'].errors?.['required']"> لطفا یک  شماره تلفن انتخاب کنید </div>
                  <div *ngIf="f['phone'].errors?.['pattern']"> لطفا یک  شماره تلفن معتبر کنید </div>
                </div>
              
                <label><b>رمز</b></label>
                <input class="w3-input w3-border"
                 type="password" placeholder="پسورد را وارد کنید"
                  formControlName="password" 
                  [ngClass]="{ 'red':  f['password'].errors && f['password'].touched }"
                  >
                  <div *ngIf="f['password'].touched && f['password'].invalid" class="red">
                    <div *ngIf="f['password'].errors?.['required']"> لطفا یک  رمز انتخاب کنید </div>
                    <div *ngIf="f['password'].errors?.['minlength']||f['password'].errors?.['maxlength']">پسورد باید بین 4 تا 8  حرف باشد</div>
                  </div>
                
            
          
                <button [disabled]="!registerForm.valid"  type="submit">ثبت نام</button>
                
              </div>
            </form>
          
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> 





