<div class="container">
    <div class="page">
        <div class="breadcrumbs">
            <a routerLink="">خانه</a>
            <span>خرید اشتراک</span>
        </div>

        <div class="content">
           
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <h6 class="feature-title">اشتراک یک ماهه</h6>
                        <small class="feature-subtitle">ویژه کاربران جدید</small>
                        <p>49 هزار تومان</p>
                        <a href="" class="button">انتخاب و ادامه</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <h6 class="feature-title">اشتراک سه ماهه</h6>
                        <small class="feature-subtitle">ویژه کاربران جدید</small>
                        <p>100 هزار تومان</p>
                        <a href="" class="button">انتخاب و ادامه</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <h5 class="feature-title">اشتراک شش ماهه</h5>
                        <br>
                        <br>
                        <br>
                        
                        <p>250 هزارتومان</p>
                        <a href="" class="button">انتخاب و ادامه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .container -->
